.header{
    background: url("./assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-family: Quicksand;
}
.name{
    padding-top: 50px;
}
#projects{
    padding: 50px;
}

#body{
    background-image: linear-gradient(to top right, rgb(46, 44, 44), rgb(166, 166, 170));
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Quicksand;
}
.form-control{
    margin: 10px;
}

#contact{
    padding: 50px;
}

.footer{
    background-color: black;
    padding: 35px;  
}