.header{
    background: url("./assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-family: Quicksand;
}
.name{
    padding-top: 50px;
}

#body{
    background-image: linear-gradient(to top right, rgb(46, 44, 44), rgb(166, 166, 170));
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Quicksand;
}
.contact{
    margin: 0 auto; 
    width:250px;
    padding-bottom: 50px;
}

.footer{
    background-color: black;
    height: 150px;
    padding-top: 35px;  
}